extends layout
block content
  h2 Seller detail 
  p #{seller.name}
  p sellerid:  #{seller.id}

  h3 Available for sale: 
  if seller.allProducts.length 
    ol 
      each product in seller.allProducts 
        li   
          a(href=`/products/${product._id}`)= product.productHeader
  else 
    p no item listed yet. 